{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}
<h1>{{title}}</h1>
<div class="hdescription">
  {{{description}}}
</div>
{{#items.Length}}
<script>
  let modelList = []
  let currentView3D = null
</script>
<div class="media-container cards-container">
{{#items}}
  {{>partials/mediacard}}
{{/items}}
</div>
{{/items.Length}}

<script src="https://unpkg.com/@egjs/view3d@latest/dist/view3d.pkgd.min.js"></script>
<script>
  modelList.forEach((modelDef) => {
    const el = document.getElementById(modelDef.id)
    el.addEventListener('click', () => {
        if (currentView3D) {
            currentView3D.destroy()
        }
        currentView3D = new View3D(el, modelDef.v3d)
    })
  })
</script>