.navbar-brand img {
    height: 50px;
    margin-right: 8px;
  }

.navbar #navbar .external-links {
  order: 40;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.navbar #navbar .external-links a,
.navbar #navbar .external-links a:visited,
.navbar #navbar .external-links a:active {
  color: var(--bs-secondary-color);
  text-decoration: none;
  border-right: 1px solid var(--bs-border-color);
  padding-right: 9px;
  padding-left: 9px;
}

.navbar-divider {
  border-right: 1px solid var(--bs-border-color);
  margin-right: 8px;
  height: 30px;
}

.sourceurl p {
  font-size: 14px;
  margin: 0;
  padding: 0;  
}

.navbar #navbar form.icons {
  order: 45;
}

.footnote-back-ref {
  display: none;
}

/* media */



.media-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.media-container .card {
  width: 30%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden
}

.media-container .card-text {
  font-size: 12px;
}

.media-container .card-img-top {
  height: 12rem;
  object-fit: cover;
  background: #000000;
}

.media-container .asset-container {
  border-top: 1px solid var(--bs-card-border-color);
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.media-container .asset-item {
  font-size: 12px;
  border-right: 1px solid var(--bs-card-border-color);
  background: rgba(128, 128, 255, 0.05);
  padding: 0.5rem;
}
.media-container .asset-item:hover {
  background: rgba(128, 128, 255, 0.1);
}

.media-container .asset-container > :first-child {
  border-left: 1px solid var(--bs-card-border-color);
}